*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}
.Header .Logo{
    font-size: 25px;
}
.Header .Navigation ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #55565b;
    padding: 20px 16px;
}
.Header .Icons ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.hero{
    display: flex;
    background-image: url(./big-14.jpg);
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-width: 0px;
    margin: 0px;
    padding: 0px 19px;
    letter-spacing: 3px;
    white-space: normal;
    opacity: 1;
}
.hero h1{
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.hero p{
    font-size: 30px;
    color: white;
} 
.button{
    background-color: #5645ff;
    color: #FFFFFF;
    padding: 15px;
}
.section1 .datas1{
    padding: 30px;
    display: flex;
    gap: 70px;
}
.section1 .datas2{
    background-color: lightslategray;
    padding: 60px;
}
.section1 .datas3{
    background-color: lightslategray;
    padding: 60px;
}
.section2 .icon{
    display: flex;
    gap: 70px;
    padding: 30px;

}
.section2 .datasz{
    background-color: lightslategray;
    padding: 70px;
}
.section2 .datas2{
    background-color: lightslategray;
    padding: 70px;
}
.section2 .datas3{
    background-color: lightslategray;
    padding: 70px;  
}
.section3{
    background-color: rgb(239, 185, 84);
    display: flex;
    padding: 70px 0;
    background-position: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-width: 0px;
    margin: 0px;
    padding: 0px 19px;
    letter-spacing: 3px;
    white-space: normal;
    opacity: 1;
}
.section3 h3{
    color: #FFFFFF;
    margin: 0px 0px 10px;
    padding: 40px;
}
.section3 h2{
    color: #FFFFFF;
    margin: 0px 0px 15px;
    font-family: helvetica;
    padding: 30px;
}
.section3 .button{
    color: #FFFFFF;
    background-color: #5645ff;
    padding: 15px;
   font-family: Arial, Helvetica, sans-serif;
}
.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4 h2{
    margin-top: 50px;
    color: #55565b;
    font-family: Arial, Helvetica, sans-serif;
}
.section4 ul{
    display: flex;
    padding: 60px;
    gap: 20px;
    list-style: none;
}
.image-container {
    padding: 10px;
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Add some gap between images */
  }
  .image-container img {
    width: 33.33%;
  }
.section5{
    padding: 100px;
}
.section5 h3{
    font-weight: 300;
    color: #55565b;
    margin: 0 0 .625rem;
    text-transform: uppercase;
    letter-spacing: .2143rem;
    font-size: 30px;
}
.section5 h2{
    color: #55565b;
    font-weight: 700;
    letter-spacing: .125rem;
    font-size: 42px;
}
.section5 span{
    display: block;
    margin-bottom: .625rem;
    letter-spacing: .0625rem;
    line-height: 1.875rem;
    font-style: italic;
    color: #55565b;
    font-style: italic;
    padding: 15px;
}
.section6{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./big-01.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    flex-direction: column;
    align-items: center;
    border-width: 0px;
    margin: 0px;
    padding: 0px 19px;
    letter-spacing: 3px;
    white-space: normal;
    opacity: 1;
}
.section6 h3{
    padding: 100px 20px 20px 20px;
    color: #55565b;
    font-size: 30px;
}
.section6 h2{
    font-size: 42px;
    color: #55565b;
}
.section6 span{
    font-size: 17px;
    padding: 15px 15px 10px 15px;
    font-style: italic;
}
.section61 p{
    padding: 25px;
    font-size: 20px;
    color: #55565b;
    display: block;
}
.section7{
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
}
.section7 h3{
    color: #55565b;
    font-size: 28px;
}
.section7 h2{
    color: #55565b;
    font-size: 42px;
}
.section7 span{
    padding: 20px 0px;
    font-size: 20px;
    font-style: italic;
}
.imageteam{
    display: flex;
    gap: 20px;
    height: 435px;
    width: 290px;
    padding-top: 40px;
    padding-right: 70px;
}
 .ss{
    padding: 70px;
    font-style: normal;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #55565b;
} 
.achievements .iconss{
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    padding-bottom: 40px;
    background-color: bisque;
}
.achievements .ss0{
    padding: 20px;
}
.achievements .ss1{
    padding: 20px;
}
.achievements .ss2{
    padding: 20px;
}
.achievements .ss3{
    padding: 20px;
}
.achievements .ss0 .num{
    padding: 40px;
}
.section8{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section8 h3{
    padding: 80px 20px 15px;
    color: #55b65b;
    font-size: 22px;
}
.section8 h2{
    padding: 20px;
    font-size: 42px;
}
.section8 span{
    font-style: italic;
    font-size: 19px;
}
.logos{
    display: flex;
    gap: 130px;
    height: 115px;
    width: 103px;
    padding: 40px 150px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 40px;
    background-color: black;
    color: gray;
    margin-top: 40px;
}
.footer .Logo{
    font-size: 25px;
}
.footer .Navigation ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #55565b;
    padding: 20px 16px;
}
.footer .Icons22 ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.footer .Icons22 li:hover{
    color: red;
    transition: 2s;
}